
.container{
    margin: 0px auto;
}

.head{
    text-align: center;
}

.btn-line{
    text-align: center;
    margin: 0px auto;
}
tr{
    text-align: center;
    font-size: 12px;
 
}
a{
    text-decoration: none;
}
.main{
    background-color: rgb(241, 241, 241);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
.search{
    width: 40;
}

.buttons{
    list-style: none;
    text-align: center;
}

.search-buttons{
    background-color: rgb(248, 248, 248);
    color: black;
    border: 1px solid black;
    text-decoration: none;
    text-align: center;
    float: left;
    margin: 0px auto;
}

.acikmavi{
    background-color: rgb(13, 247, 235);
}

.listing{
    text-decoration: none;
    float: left;
    list-style: none;
}

.footer-foot {
    text-align: center;
}